<MarketplaceDetails>
  <SmallAppTile>Icon99x99.png</SmallAppTile>
  <LargeAppTile>Icon173x173.png</LargeAppTile>
  <PCAppTile>Icon200x200.png</PCAppTile>
  <ScreenShots>Screenshot0.png;Screenshot1.png;Screenshot2.png;Screenshot3.png;Screenshot4.png;Screenshot5.png;Screenshot6.png;;</ScreenShots>
</MarketplaceDetails>